@font-face {
    font-family: "ITCKristenCom-Normal";
    src: url('webFonts/ITCKristenComNormal/font.woff2') format('woff2'), url('webFonts/ITCKristenComNormal/font.woff') format('woff');
  }

  #navbar {
    transition: top 0.3s;
  }



.navbar-brand {
    margin-left: -120px;
    display: flexbox;
    padding: 10px;
}
.ITCKristenComNormal {
	font-family: "ITCKristenCom-Normal";
}


.logo-ul {
    font-family: "ITCKristenCom-Normal";
    border: 1px ;
    margin-top: 18px;
    margin-left: -45px;
    padding-right: 10px;
    font-size: 25px;
    line-height: 35px;
    color: rgb(218, 182, 65);
    list-style-type: none;
}

.d-inline-block {
    border: 3px solid rgb(218, 182, 65);
    padding: 3px;
}

.collapse {
    margin-left: 10px; /* was 250px before search bar added */
}

.navbar-nav > li{
    font-size: 18px;
    padding-left: 70px;
    padding-right: 20px;
  }

.dropdown-menu span {
    content: "\1F4DE";
    font-size: 12px;
    font-style: bold;
}







#hero-caps {
    position: relative;
    width: 100vw;
    height: 100vh;
    

}

#hero-tutor {
    position: relative;
    width: 50vw;
    height: 45vh;
    margin-top: 100px;
   
}

#hero-scholar {
    position: relative;
    width: 1200px;
    height: 100vh;
    margin-top: 0px;

}




.overlay{

    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0px;
    right: 500px;
    background: rgba(0, 0, 0, 0.45);
    color: rgb(247, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



 .overlay-end {

    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0px;
    right: 500px;
    background: rgba(0, 0, 0, 0.25);
    color: rgb(56, 55, 55);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}












.carousel-control-prev-icon {
    margin-bottom: 80px;
}

.carousel-control-next-icon {
    margin-bottom: 80px;
}

.text-start{   
    margin-left: 20px;
    margin-bottom: 215px;
    text-align: left !important;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(8, 8, 8);
}


 .mid {
    text-align: left;
    margin-bottom: 20px;

}

.text-end {
    text-align: left !important;
    margin-bottom: 20px;
}

.first-butt {
   text-shadow: none;
}

#placeholder {
    display: flexbox;
    visibility: hidden;
    width: 200px;
    height: 200px;

}



/* Marketing container styles*/
.marketing {
    margin-top: 55px;
    margin-bottom: 35px;
    margin-left: 150px;
    padding: 0px;

}




.card-img-top {
    border-radius: 10px;
    box-shadow: 3px 3px 20px black;
}

.card {
    border: none;
   margin-bottom: 80px;
}

.card-body {
    background-color:rgba(164, 167, 95, 0.199);
}

#marketing-img {
    object-fit: cover; 

}

.btn-second {
    color: rgb(196, 79, 79);
    font-size: small;
    font-weight: 800;
}

.btn-second:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-second:hover {
    text-transform: capitalize;
    color: rgb(49, 21, 204);
    border-style: none !important;
}

.feature-img {
    border-radius: 10px;
    box-shadow: 3px 3px 20px black;

}








@media (max-width: 1200px)  and (min-width: 600px){
        .col-md-7 {
            flex: 0 0 auto;
            width: 40;
        }
        .logo-ul {
            margin-left: -20px;
        }
       
    }
  
  