
   
@font-face {
    font-family: "ITCKristenCom-Normal";
    src: url('webFonts/ITCKristenComNormal/font.woff2') format('woff2'), url('webFonts/ITCKristenComNormal/font.woff') format('woff');
  }

  #navbar {
    transition: top 0.3s;
  }


.navbar {
    border-top: solid 5px#ffc72a;
    border-bottom: solid 5px #ffc72a;
    
}

.navbar-brand {
    margin-left: -50px;
    display: flexbox;
    padding: 10px;
}



.logo-ul {
    font-family: 'Red Rose', cursive;


    border: 1px ;
    margin-top: 18px;
    margin-left: -45px;
    padding-left: 30px;
    font-size: 30px;
    line-height: 30px;
    color: #ffc72a;;
    list-style-type: none;
    text-align:center;
}

.d-inline-block {
    border: 3px solid #ffc72a;;
    padding: 3px;
}


.navbar-nav > li{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    margin-left: 400px;
    margin-right:-240px;
  }

  .nav-item a {
    color: #ffc72a !important;
  }

  .nav-item a:focus {
    
}
  .dropdown-menu {
    background-color: rgb(23, 54, 116);
    border: solid #ffc72a 3px !important;
  }
  .dropdown-menu > li > a:hover {
    background-image: none;
    background-color: rgb(52, 80, 238);
}
 

.dropdown-menu span {
    content: "\1F4DE";
    font-size: 12px;
    font-style: bold;
    
}







#hero-caps {
    position: relative;
    width: 100%;
   
    height: auto;
    

}



.carousel-item {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
}



#hero-scholar {
    position: relative;
    width: 100%;
    height: auto;

}



/*

}  */



 .overlay-end {

    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0px;
    right: 500px;
    background: rgba(0, 0, 0, 0.45);
    color: rgb(56, 55, 55);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}











.carousel-control-prev-icon {
    margin-bottom: 250px;
}


.carousel-control-next-icon {
    margin-bottom: 250px;
}


.text-start{   
    font-family: 'Nunito', sans-serif;
    letter-spacing: .90px;
    margin-left: -20px;
    margin-bottom: 305px;
    text-align: left !important;
    color:  #5d5d81 !important;
    
}




 .mid {

    text-align: left;
    margin-bottom: 20px;

}

.text-end {
    font-family: 'Nunito', sans-serif;
    letter-spacing: .90px;
    color: rgb(255, 255, 255) !important;
    text-align: left !important;
    margin-bottom: 375px;
}

.first-butt{
   font-size: 15px;
   color:rgb(108, 111, 117);
   text-shadow: none;
  
}

.second-butt {
    font-size: 15px;
    color:rgb(206, 206, 200);
    text-shadow: none;
   
 }

 






/* Marketing container styles*/
.marketing {
    font-family: 'Nunito', sans-serif;
    margin-top: 55px;
    margin-bottom: 35px;
    margin-left: 130px;
    padding: 0px;
}




.card-img-top {
    border-radius: 10px;
    box-shadow: 3px 3px 20px black;
}

.card {
    border: none;
   margin-bottom: 0px;
  
}

.card-body:hover {
    transform: scale(1.1);
  }

.card-body {
    margin-top: 5px;
    background-color:rgb(212, 220, 233);
    text-align: center;
    transition: transform 0.3s ease;
    

}

.card-title {
    color: rgb(23, 54, 116);
    text-align: center;text-decoration-line: underline;
    text-underline-offset: 3.2px;
   
    
}

.card a {
    
      
        
}





#marketing-img {
    object-fit: cover; 

}

.btn-second {
    color: rgb(196, 79, 79);
    font-size: small;
    font-weight: 800;
}

.btn-second:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-second:hover {
    text-transform: capitalize;
    color: rgb(49, 21, 204);
    border-style: none !important;
    background-color: rgb(204, 157, 243);
}

.btn-1 {
    margin-top: 71px;
}

.btn-2 {
    margin-top: 72px;
}

.btn-4 {
    margin-top: 46px;
}

.btn-5 {
    margin-top: 95px;
}

.btn-6 {
    margin-top: 0px;
}

.btn-7 {
    margin-top: 48px;
}


.featurette-divider{
    color: rgb(23, 54, 116);

}


.featurette {
    font-family: 'Nunito', sans-serif;
    color:rgb(23, 54, 116);
   margin-top: 100px;
}

h3.featurette-heading {
    margin-top: 25px;
    overflow: hidden;
}



.feature-img {
   
    
   border-radius: 10px;
    box-shadow: 3px 3px 20px black;

}

.featurette ul {

    background-color: rgb(23, 54, 116) !important;
    color: #ffc72a !important;
    border-radius: 10px;
    padding: 20px;
    padding-left: 40px;
    border: solid  #ffc72a 3px;
}

.featurette p {

    background-color: rgb(23, 54, 116) !important;
    color: #ffc72a !important;
    border-radius: 10px;
    padding: 20px;
    padding-left: 40px;
    border: solid  #ffc72a 5px;
}


@media (max-width: 420px) {
    .carousel {
        margin-top: 20px !important;
    }
     .text-start, .text-end{
         
         margin-top: -50px !important;
     }
     .text-end{
        font-size: 10px;
        margin-top: -45px !important;
    }
    .card {
        margin-left: -35px !important;
    }
    
    .col-sm-12 {
        margin-left: -20px !important;
    }
    .d-inline-block {
        margin-left: -10px !important;
        height: 10vh;
    }
    .logo-ul {
        margin-left: -70px !important;
        font-size: 25px;
        line-height: 25px;
    }
    .col-sm-8 {
        margin-left: -65px !important;
        margin-bottom: 20px !important;
      
    }
    .col-sm-8 h3 {
        width: 90vw !important;
    }
    .feature-img {
        width: 50vw !important;
        height: 30vh !important;
        margin-left: 10px !important ;
    }
    .dropdown-toggle {
        margin-left: -235px !important;
        
    }
    .navbar-nav li {
        font-size: 13px !important;
    }
    
}

@media (max-width: 300px) {
    .carousel {
        margin-top: 100px !important;
    }
    .carousel-caption {
        margin-bottom: 150px !important;
    }
}

@media (max-width: 1080px) {
    .col-sm-12 {
        width: 70vw;
    }
}




@media (max-width: 1200px)  and (min-width: 600px){
        .col-md-7 {
            flex: 0 0 auto;
            width: 40;
        }
        .logo-ul {
            margin-left: -20px;
        }
       
    }
  